APP_ENV=development
APP_TIMEZONE=America/Sao_Paulo
APP_URL=http://127.0.0.1/hikivision_facial_cadastro_modulo/public
APP_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
API_KEY=CHANGE_THIS_API_KEY

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=hikivision_facial_cadastro
DB_USERNAME=root
DB_PASSWORD=

ISAPI_TIMEOUT=15
ISAPI_SSL_VERIFY=false
SYNC_MAX_ATTEMPTS=8
